<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Spread greenery around</em></h6>
            <h1 class="text-3xl md:text-6xl font-bold">Save the World</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Shop Now</button>

        </div>
        <div class="w-1/2">
            <img src="/img/philodendronbrokenheart_45_1.webp" alt="Hero image">
        </div>
    </div>
</section>



<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">category of Plant</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 ">
        <div class="w-full md:w-64 mb-4 rounded">
            <a id="indoor" href="/category/indoor"><img class="h-56 mb-4 mx-auto" src="/img/indoorlogo.jfif" alt="indoor logo">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Indoor Plants</h2>
            </div>
            </a>
        </div>

        <div class="w-full md:w-64  mb-4 ">
            <a id="airpurifying" href="/category/airPurifier"><img class="h-56 mb-4 mx-auto" src="/img/airpurifying.jfif" alt="air purifying log">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Air Purifying</h2>
            </div>
            </a>
        </div>

        <div class="w-full md:w-64 mb-4 ">
            <a id="lowMaintenence" href="/category/lowMaintenence"><img class="h-56 mb-4 mx-auto" src="/img/lowmaintainece.jfif" alt="low maintence logo">
            <div class="text-center">
                <h2 class="mb-4 text-lg">Low Maintence</h2>
            </div>
        </a>
        </div>


    </div>
    
</section>




<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All Plants</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <% plants.forEach(function(plant) { %>
        <div class="w-full md:w-64 mb-4">
            <img class="h-64 mb-4 mx-auto" src="/img/<%= plant.image %>.webp" alt="">
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= plant.name %></h2>
                <!-- <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= plant.size %></span> -->
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹<%= plant.price %></span>
                    <button data-pizza="<%= JSON.stringify(plant) %>"
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
        <% }) %>

    </div>
</section>